@model Estoque.Models.MonitorModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MonitorModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patrimonio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patrimonio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nserie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nserie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Antcolab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Antcolab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atualcolab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atualcolab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dtacompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dtacompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
