<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @* <link rel="stylesheet" href="~/Content/bootstrap.min.css" />  *@
    <!-- Our Custom CSS -->
    <link href="~/Content/style4.css" rel="stylesheet" />

</head>
<body>

    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>Menu</span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">  <span class="glyphicon glyphicon-user"></span> Bem Vindo! @User.Identity.Name </a>
                            <a href="@Url.Action("Index", "Login")">
                                <span class="glyphicon glyphicon-log-in">  </span> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- jQuery CDN -->
    @*<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>  *@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>


    <!-- Bootstrap Js CDN -->
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> *@
    <script src="~/Scripts/bootstrap.min.js"></script>


    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>



