@model Estoque.Models.login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />"
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <section class="section">
        @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
        {
            <div class="container m-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-6">
                        <div class="login-brand">
                            <img src="~/Content/Imagens/logonavita35x35_transparent.png" />
                            ESTOQUE INFRA
                        </div>
                        <div class="card card-primary">
                            <div class="card-body">
                                <div class="form-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    @Html.TextBoxFor(model => model.usuario, new { @placeholder = "Login", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        @Html.PasswordFor(model => model.senha, new { @placeholder = "Senha", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="btnLogin" type="submit" class="btn btn-primary login-btn btn-block" tabindex="4">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
    <footer>
        <div class="text-center">
            <p>&copy; 2019 - Infra - <small>1.0.0-PRD</small></p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>

@*<table>
        <tr>
            <td></td>
            <td style="text-decoration:underline">Sistema de Estoque - Infraestrutura </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.usuario)  </td>
            <td> @Html.EditorFor(model => model.usuario) </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.usuario)</td>
        </tr>


        <tr>
            <td> @Html.LabelFor(model => model.senha)  </td>
            <td> @Html.EditorFor(model => model.senha) </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.senha)</td>
        </tr>

        <tr>
            <td colspan="2">
                <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage) </label>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" name="name" value="login" />
                <input type="reset" name="name" value="Clear" />
            </td>

        </tr>
    </table>*@
