@using PagedList.Mvc;
@model PagedList.IPagedList<Estoque.Models.FuncionarioModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTelaPrincipal.cshtml";
}

<form action="Index" method="post">
    <div class="row">
        <div class="col-md-9 text-left">
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Insira o Nome:" id="nome" name="nome" value="">
                </div>
            </div>
        </div>
        <div class="col-md-3 float-right text-right mt-4">
            <button type="submit" class="btn btn-sm btn-success">Consultar</button>
            <a href="/Funcionario/Create" class="btn btn-sm btn-primary">Novo</a>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="text-center">
                    <tr>
                        <th style="text-align:center">
                            @Html.DisplayName("Matricula")
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayName("Nome")
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayName("Email")
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayName("Setor")
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayName("Status")
                        </th>
                        <th style="text-align:center">
                            Ações
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Matricula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Setor)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td style="text-align:center">
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
            <div class="col-md-4 text-left">
                <span> Total de @Model.TotalItemCount registros. </span>
            </div>
            <div class="col-md-8 text-right">
                @* Página @Model.PageNumber de @Model.PageCount *@
                @Html.PagedListPager(Model, page => Url.Action("Index", new { pagina = page }))
            </div>
        </div>
    </div>
</div>

